.nav_div {
    
    height: 40px;
    width: 100%;
}



ul {
   
    position:fixed;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding-left: 35%;
    overflow: hidden;
    background-color:#0E8388;
    width: 100%;

  }
  
  li {
    float: left;
  }

  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  .active {
    background-color:#002B5B;
  }