.fotorama{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.bac-color{
  
    display: flex;
    justify-content: center;
    align-items: center;
}

.bac-color button{
    background-color: #2070cb;
    color: yellow;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}